<div class="test-wrapper big-link">
    <a href="/" style="border: none;">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 849.6 329.92">
        <defs>
        <style>
            @import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');
            text{
                font-size:296.85px;
                font-family:DidactGothic-Regular, Didact Gothic;
            }
        </style>
        </defs>
    <g id="layer_2">
      <text transform="translate(5.52 250.66)">guisso</text>
      <polygon points="60.34 198.02 84.8 150.91 107.45 198.02 60.34 198.02"/>
      <polygon points="741.17 161.02 765.63 208.13 788.28 161.02 741.17 161.02"/>
    </g>
    <g id="layer_3">
      <text transform="translate(5.52 250.66)">guisso</text>
      <polygon points="60.34 198.02 84.8 150.91 107.45 198.02 60.34 198.02"/>
      <polygon points="741.17 161.02 765.63 208.13 788.28 161.02 741.17 161.02"/>
    </g>
    <g id="logo">
      <text transform="translate(5.52 250.66)">guisso</text>
      <polygon points="60.34 198.02 84.8 150.91 107.45 198.02 60.34 198.02"/>
      <polygon points="741.17 161.02 765.63 208.13 788.28 161.02 741.17 161.02"/>
    </g>
  </svg>
    </a>
</div>
